host_public_hostname: {{ sample_proxmox_node_name }}
proxmox_node_name: {{ sample_proxmox_node_name }}
management_ipv4: {{ sample_proxmox_management_ipv4 }}
management_tailscale_ipv4: {{ sample_proxmox_management_tailscale_ipv4 }}
management_ipv4_cidr: {{ sample_proxmox_management_ipv4_cidr }}
management_gateway4: {{ sample_proxmox_management_gateway4 }}
proxmox_internal_bridge: vmbr10
proxmox_internal_ipv4: {{ sample_internal_gateway_ipv4 }}
proxmox_internal_cidr: {{ sample_internal_cidr }}
proxmox_internal_network: {{ sample_internal_network_cidr }}
proxmox_public_edge_ipv4: {{ sample_public_edge_ipv4 }}
reference_public_base_domain: {{ sample_public_base_domain }}
reference_operator_base_domain: {{ sample_operator_base_domain }}
reference_infrastructure_provider: {{ sample_infrastructure_provider }}
reference_dns_provider: {{ sample_dns_provider }}
