{% from 'compose_macros.j2' import openbao_sidecar %}
services:
{{ openbao_sidecar("directus") }}

  directus:
    image: {{ directus_image }}
    container_name: {{ directus_container_name }}
    restart: unless-stopped
    depends_on:
      openbao-agent:
        condition: service_healthy
    extra_hosts:
{% for item in directus_public_hostname_overrides %}
      - "{{ item.hostname }}:{{ item.address }}"
{% endfor %}
    env_file:
      - {{ directus_env_file }}
    ports:
      - "{{ ansible_host }}:{{ directus_internal_port }}:{{ directus_container_port }}"
      - "127.0.0.1:{{ directus_internal_port }}:{{ directus_container_port }}"
