# managed-by: role=directus_runtime adr=0143 agent={{ lookup('env','LV3_AGENT_SESSION') | default('operator') }}
HOST=0.0.0.0
PORT={{ directus_container_port }}
PUBLIC_URL={{ directus_public_base_url }}
SERVE_APP=true
TELEMETRY=false
DB_CLIENT=pg
DB_HOST={{ directus_database_host }}
DB_PORT=5432
DB_DATABASE={{ directus_database_name }}
DB_USER={{ directus_database_user }}
DB_PASSWORD={{ directus_database_password }}
KEY={{ directus_key }}
SECRET={{ directus_secret }}
ADMIN_EMAIL={{ directus_admin_email }}
ADMIN_PASSWORD={{ directus_admin_password }}
AUTH_PROVIDERS=keycloak
AUTH_KEYCLOAK_DRIVER=openid
AUTH_KEYCLOAK_MODE=session
AUTH_KEYCLOAK_LABEL={{ directus_keycloak_label }}
AUTH_KEYCLOAK_ICON={{ directus_keycloak_icon }}
AUTH_KEYCLOAK_CLIENT_ID={{ directus_keycloak_client_id }}
AUTH_KEYCLOAK_CLIENT_SECRET={{ directus_keycloak_client_secret }}
AUTH_KEYCLOAK_ISSUER_URL={{ directus_keycloak_issuer_url }}
AUTH_KEYCLOAK_ALLOW_PUBLIC_REGISTRATION={{ 'true' if directus_keycloak_allow_public_registration else 'false' }}
AUTH_KEYCLOAK_DEFAULT_ROLE_ID={{ directus_observer_role_id }}
AUTH_KEYCLOAK_ROLE_MAPPING={{ directus_keycloak_role_mapping_json }}
AUTH_KEYCLOAK_GROUP_CLAIM_NAME={{ directus_keycloak_group_claim_name }}
AUTH_KEYCLOAK_EMAIL_KEY={{ directus_keycloak_email_key }}
AUTH_KEYCLOAK_FIRST_NAME_KEY={{ directus_keycloak_first_name_key }}
AUTH_KEYCLOAK_LAST_NAME_KEY={{ directus_keycloak_last_name_key }}
AUTH_KEYCLOAK_SYNC_USER_INFO={{ 'true' if directus_keycloak_sync_user_info else 'false' }}
