# managed-by: role=huly_runtime adr=0419 agent={{ lookup('env','LV3_AGENT_SESSION') | default('operator') }}
//npm.pkg.github.com/:_authToken={{ huly_npm_github_token }}
@hcengineering:registry=https://npm.pkg.github.com
