BASE_URL={{ windmill_base_url }}
DATABASE_URL=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.DATABASE_URL ]][[ end ]]
SUPERADMIN_SECRET=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.SUPERADMIN_SECRET ]][[ end ]]
TF_VAR_proxmox_endpoint=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.TF_VAR_proxmox_endpoint ]][[ end ]]
TF_VAR_proxmox_api_token=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.TF_VAR_proxmox_api_token ]][[ end ]]
