BASE_URL={{ windmill_base_url }}
DATABASE_URL={{ windmill_database_dsn }}
SUPERADMIN_SECRET={{ windmill_superadmin_secret }}
LV3_GRAPH_DSN={{ windmill_platform_dsn }}
WORLD_STATE_DSN={{ windmill_platform_dsn }}
LV3_LEDGER_DSN={{ windmill_platform_dsn }}
