BASE_URL={{ windmill_base_url }}
DATABASE_URL={{ windmill_database_dsn }}
SUPERADMIN_SECRET={{ windmill_superadmin_secret }}
TF_VAR_proxmox_endpoint={{ windmill_proxmox_api_token_payload.api_url }}
TF_VAR_proxmox_api_token={{ windmill_proxmox_api_token_payload.full_token_id }}={{ windmill_proxmox_api_token_payload.value }}
