BASE_URL={{ windmill_base_url }}
LV3_WINDMILL_BASE_URL={{ windmill_worker_api_base_url }}
DATABASE_URL=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.DATABASE_URL ]][[ end ]]
SUPERADMIN_SECRET=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.SUPERADMIN_SECRET ]][[ end ]]
[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ if (index .Data.data "LV3_GRAPH_DSN") ]]LV3_GRAPH_DSN=[[ index .Data.data "LV3_GRAPH_DSN" ]]
[[ end ]][[ end ]]
TF_VAR_proxmox_endpoint=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.TF_VAR_proxmox_endpoint ]][[ end ]]
TF_VAR_proxmox_api_token=[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ .Data.data.TF_VAR_proxmox_api_token ]][[ end ]]
[[ with secret "kv/data/{{ windmill_openbao_secret_path }}" ]][[ if (index .Data.data "WORLD_STATE_DSN") ]]WORLD_STATE_DSN=[[ index .Data.data "WORLD_STATE_DSN" ]]
[[ end ]][[ if (index .Data.data "LV3_NATS_URL") ]]LV3_NATS_URL=[[ index .Data.data "LV3_NATS_URL" ]]
[[ end ]][[ if (index .Data.data "LV3_NATS_USERNAME") ]]LV3_NATS_USERNAME=[[ index .Data.data "LV3_NATS_USERNAME" ]]
[[ end ]][[ if (index .Data.data "LV3_NATS_PASSWORD") ]]LV3_NATS_PASSWORD=[[ index .Data.data "LV3_NATS_PASSWORD" ]]
[[ end ]][[ if (index .Data.data "LV3_LEDGER_DSN") ]]LV3_LEDGER_DSN=[[ index .Data.data "LV3_LEDGER_DSN" ]]
[[ end ]][[ if (index .Data.data "LV3_LEDGER_NATS_URL") ]]LV3_LEDGER_NATS_URL=[[ index .Data.data "LV3_LEDGER_NATS_URL" ]]
[[ end ]][[ if (index .Data.data "LV3_TEST_RUNNER_USERNAME") ]]LV3_TEST_RUNNER_USERNAME=[[ index .Data.data "LV3_TEST_RUNNER_USERNAME" ]]
[[ end ]][[ if (index .Data.data "LV3_TEST_RUNNER_PASSWORD") ]]LV3_TEST_RUNNER_PASSWORD=[[ index .Data.data "LV3_TEST_RUNNER_PASSWORD" ]]
[[ end ]][[ if (index .Data.data "LV3_INTEGRATION_ENVIRONMENT") ]]LV3_INTEGRATION_ENVIRONMENT=[[ index .Data.data "LV3_INTEGRATION_ENVIRONMENT" ]]
[[ end ]][[ end ]]
