HOST={{ label_studio_public_base_url }}
CSRF_TRUSTED_ORIGINS={{ label_studio_public_base_url }}
JSON_LOG=true
DISABLE_SIGNUP_WITHOUT_LINK=true
LABEL_STUDIO_ENABLE_LEGACY_API_TOKEN=true
BASE_DATA_DIR=/label-studio/data
POSTGRE_HOST={{ label_studio_database_host }}
POSTGRE_PORT={{ label_studio_database_port }}
POSTGRE_NAME={{ label_studio_database_name }}
POSTGRE_USER={{ label_studio_database_user }}
POSTGRE_PASSWORD={{ label_studio_database_password }}
USERNAME={{ label_studio_admin_email }}
PASSWORD={{ label_studio_admin_password }}
USER_TOKEN={{ label_studio_admin_token }}
