provider = "oidc"
http_address = "{{ public_edge_oidc_auth_http_address }}"
reverse_proxy = true
set_xauthrequest = true
skip_provider_button = true
skip_oidc_discovery = true
upstreams = ["static://202"]
scope = "{{ public_edge_oidc_auth_scope }}"
client_id = "{{ public_edge_oidc_auth_client_id }}"
client_secret = "{{ lookup('ansible.builtin.file', public_edge_oidc_auth_client_secret_local_file) | trim }}"
redirect_url = "{{ public_edge_oidc_auth_redirect_url }}"
oidc_issuer_url = "{{ public_edge_oidc_auth_issuer_url }}"
login_url = "{{ public_edge_oidc_auth_public_login_url }}"
redeem_url = "{{ public_edge_oidc_auth_redeem_url }}"
profile_url = "{{ public_edge_oidc_auth_profile_url }}"
validate_url = "{{ public_edge_oidc_auth_validate_url }}"
oidc_jwks_url = "{{ public_edge_oidc_auth_jwks_url }}"
allowed_groups = [{% for group in public_edge_oidc_auth_allowed_groups %}"{{ group }}"{% if not loop.last %}, {% endif %}{% endfor %}]
email_domains = [{% for domain in public_edge_oidc_auth_email_domains %}"{{ domain }}"{% if not loop.last %}, {% endif %}{% endfor %}]
cookie_name = "{{ public_edge_oidc_auth_cookie_name }}"
cookie_secret = "{{ lookup('ansible.builtin.file', public_edge_oidc_auth_cookie_secret_local_file) | trim }}"
cookie_domains = ["{{ public_edge_oidc_auth_cookie_domain }}"]
whitelist_domains = ["{{ public_edge_oidc_auth_cookie_domain }}"]
cookie_secure = true
cookie_httponly = true
cookie_samesite = "lax"
cookie_expire = "{{ public_edge_oidc_auth_cookie_expire }}"
cookie_refresh = "{{ public_edge_oidc_auth_cookie_refresh }}"
pass_access_token = true
pass_authorization_header = true
code_challenge_method = "S256"
