services:
  uptime-kuma:
    image: {{ uptime_kuma_image }}
    container_name: {{ uptime_kuma_container_name }}
    restart: unless-stopped
    volumes:
      - {{ uptime_kuma_data_dir }}:/app/data
    ports:
      - "{{ uptime_kuma_port }}:3001"
