stream_over_http_enabled: true

server:
  http_listen_port: {{ monitoring_tempo_http_port }}
  log_level: info

query_frontend:
  search:
    duration_slo: 5s
    throughput_bytes_slo: 1073741824
    metadata_slo:
      duration_slo: 5s
      throughput_bytes_slo: 1073741824
  trace_by_id:
    duration_slo: 5s

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "127.0.0.1:{{ monitoring_tempo_otlp_grpc_port }}"
        http:
          endpoint: "127.0.0.1:{{ monitoring_tempo_otlp_http_port }}"

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: {{ monitoring_tempo_trace_retention }}

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: {{ monitoring_otel_resource_cluster }}
      environment: {{ monitoring_otel_resource_environment }}
  storage:
    path: {{ monitoring_tempo_data_dir }}/generator/wal
    remote_write:
      - url: "{{ monitoring_prometheus_remote_write_url }}"
        send_exemplars: true
  traces_storage:
    path: {{ monitoring_tempo_data_dir }}/generator/traces

storage:
  trace:
    backend: local
    wal:
      path: {{ monitoring_tempo_data_dir }}/wal
    local:
      path: {{ monitoring_tempo_data_dir }}/blocks

overrides:
  defaults:
    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
        - local-blocks
      generate_native_histograms: both
