{% from 'compose_macros.j2' import openbao_sidecar %}
services:
{{ openbao_sidecar("openfga") }}

  openfga:
    image: {{ openfga_image }}
    container_name: {{ openfga_container_name }}
    restart: unless-stopped
    depends_on:
      openbao-agent:
        condition: service_healthy
    env_file:
      - {{ openfga_env_file }}
    command:
      - run
    ports:
      - "{{ openfga_internal_http_port }}:{{ openfga_internal_http_port }}"
