OPENFGA_DATASTORE_URI=[[ with secret "kv/data/{{ openfga_openbao_secret_path }}" ]][[ .Data.data.OPENFGA_DATASTORE_URI ]][[ end ]]
OPENFGA_PRESHARED_KEY=[[ with secret "kv/data/{{ openfga_openbao_secret_path }}" ]][[ .Data.data.OPENFGA_PRESHARED_KEY ]][[ end ]]
OPENFGA_HTTP_ADDR=[[ with secret "kv/data/{{ openfga_openbao_secret_path }}" ]][[ .Data.data.OPENFGA_HTTP_ADDR ]][[ end ]]
OPENFGA_GRPC_ADDR=[[ with secret "kv/data/{{ openfga_openbao_secret_path }}" ]][[ .Data.data.OPENFGA_GRPC_ADDR ]][[ end ]]
