DATABASE_URL=[[ with secret "kv/data/{{ flagsmith_openbao_secret_path }}" ]][[ .Data.data.DATABASE_URL ]][[ end ]]
DJANGO_SECRET_KEY=[[ with secret "kv/data/{{ flagsmith_openbao_secret_path }}" ]][[ .Data.data.DJANGO_SECRET_KEY ]][[ end ]]
DJANGO_ALLOWED_HOSTS={{ flagsmith_allowed_hosts | join(',') }}
ENVIRONMENT=production
FLAGSMITH_DOMAIN={{ flagsmith_service_topology.public_hostname }}
TASK_RUN_METHOD=TASK_PROCESSOR
USE_POSTGRES_FOR_ANALYTICS=true
ALLOW_ADMIN_INITIATION_VIA_CLI=true
ADMIN_EMAIL={{ flagsmith_admin_email }}
ORGANISATION_NAME={{ flagsmith_organisation_name }}
PROJECT_NAME={{ flagsmith_project_name }}
PREVENT_SIGNUP=true
ALLOW_REGISTRATION_WITHOUT_INVITE=false
PROMETHEUS_ENABLED=true
ENABLE_TASK_PROCESSOR_HEALTH_CHECK=True
