DATABASE_URL=postgresql://{{ flagsmith_database_user }}:{{ flagsmith_database_password | urlencode }}@{{ flagsmith_database_host }}:5432/{{ flagsmith_database_name }}
DJANGO_SECRET_KEY={{ flagsmith_django_secret_key }}
DJANGO_ALLOWED_HOSTS={{ flagsmith_allowed_hosts | join(',') }}
ENVIRONMENT=production
FLAGSMITH_DOMAIN={{ flagsmith_service_topology.public_hostname }}
TASK_RUN_METHOD=TASK_PROCESSOR
USE_POSTGRES_FOR_ANALYTICS=true
ALLOW_ADMIN_INITIATION_VIA_CLI=true
ADMIN_EMAIL={{ flagsmith_admin_email }}
ORGANISATION_NAME={{ flagsmith_organisation_name }}
PROJECT_NAME={{ flagsmith_project_name }}
PREVENT_SIGNUP=true
ALLOW_REGISTRATION_WITHOUT_INVITE=false
PROMETHEUS_ENABLED=true
ENABLE_TASK_PROCESSOR_HEALTH_CHECK=True
