DATABASE_URL=[[ with secret "kv/data/{{ flagsmith_openbao_secret_path }}" ]][[ .Data.data.DATABASE_URL ]][[ end ]]
DJANGO_SECRET_KEY=[[ with secret "kv/data/{{ flagsmith_openbao_secret_path }}" ]][[ .Data.data.DJANGO_SECRET_KEY ]][[ end ]]
