PGAUDIT_RELAY_LISTEN_HOST={{ alertmanager_runtime_pgaudit_relay_listen_host }}
PGAUDIT_RELAY_LISTEN_PORT={{ alertmanager_runtime_pgaudit_relay_listen_port }}
PGAUDIT_RELAY_WEBHOOK_PATH={{ alertmanager_runtime_pgaudit_relay_webhook_path }}
PGAUDIT_RELAY_NATS_URL={{ alertmanager_runtime_pgaudit_relay_nats_url }}
PGAUDIT_RELAY_NATS_SUBJECT={{ alertmanager_runtime_pgaudit_relay_nats_subject }}
PGAUDIT_RELAY_NATS_USERNAME={{ alertmanager_runtime_pgaudit_relay_nats_username }}
PGAUDIT_RELAY_NATS_PASSWORD={{ alertmanager_runtime_pgaudit_relay_nats_password }}
PGAUDIT_RELAY_ACTOR_ID={{ alertmanager_runtime_pgaudit_relay_actor_id }}
PGAUDIT_RELAY_EVENT_SCHEMA_VERSION={{ alertmanager_runtime_pgaudit_relay_event_schema_version }}
PGAUDIT_RELAY_CLIENT_NAME={{ alertmanager_runtime_pgaudit_relay_service_name }}
