---
extends: default

ignore: |
  .ansible/
  .git/
  .local/
  docs/adr/.index.yaml

rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  indentation:
    indent-sequences: whatever
  line-length: disable
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
  truthy: disable
