[defaults]
inventory = /Users/live/Documents/GITHUB_PROJECTS/proxmox_florin_server/inventory/hosts.yml
roles_path = /Users/live/Documents/GITHUB_PROJECTS/proxmox_florin_server/roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml

[ssh_connection]
pipelining = True
