[web]
    bind to = {{ netdata_runtime_parent_bind_to if netdata_runtime_is_parent else netdata_runtime_child_bind_to }}

[db]
{% if netdata_runtime_is_parent %}
    mode = dbengine
    storage tiers = 1
    dbengine tier 0 retention time = {{ netdata_runtime_parent_retention_time }}
    dbengine tier 0 retention size = {{ netdata_runtime_parent_retention_size }}
{% else %}
    mode = {{ netdata_runtime_child_db_mode }}
    history = {{ netdata_runtime_child_history }}
{% endif %}

[ml]
    enabled = yes
