[stream]
    enabled = yes
{% if not netdata_runtime_is_parent %}
    destination = {{ netdata_runtime_parent_private_ip }}:{{ netdata_runtime_parent_web_port }}
    api key = {{ hostvars[netdata_runtime_parent_inventory_host].netdata_runtime_stream_api_key }}
    timeout seconds = 60
{% endif %}

{% if netdata_runtime_is_parent %}
[{{ netdata_runtime_stream_api_key }}]
    enabled = yes
    default history = {{ netdata_runtime_child_history }}
    default memory mode = {{ netdata_runtime_child_db_mode }}
    health enabled by default = auto
    allow from = {{ netdata_runtime_stream_allow_from | join(' ') }}
{% endif %}
