{"version":1,"cluster":"0mcp","bastion":"{{ fleet_runner_private_0mcp_bastion }}","dockerhost":"{{ fleet_runner_private_0mcp_dockerhost }}","compose_root":"{{ fleet_runner_private_0mcp_compose_root }}","known_hosts_file":"{{ fleet_runner_private_0mcp_known_hosts_file }}"}
