LIVEKIT_API_KEY=[[ with secret "kv/data/{{ livekit_openbao_secret_path }}" ]][[ .Data.data.LIVEKIT_API_KEY ]][[ end ]]
LIVEKIT_API_SECRET=[[ with secret "kv/data/{{ livekit_openbao_secret_path }}" ]][[ .Data.data.LIVEKIT_API_SECRET ]][[ end ]]
LIVEKIT_KEYS=[[ with secret "kv/data/{{ livekit_openbao_secret_path }}" ]][[ .Data.data.LIVEKIT_KEYS ]][[ end ]]
