APP_ID={{ (coolify_root_password ~ ':appid') | hash('sha256') | truncate(24, True, '') }}
APP_NAME=Coolify
APP_KEY={{ coolify_app_key }}
APP_PORT={{ coolify_dashboard_port }}
APP_ENV=production

DB_USERNAME=coolify
DB_PASSWORD={{ coolify_db_password }}
DB_DATABASE=coolify

REDIS_PASSWORD={{ coolify_redis_password }}

PUSHER_APP_ID={{ coolify_pusher_app_id }}
PUSHER_APP_KEY={{ coolify_pusher_app_key }}
PUSHER_APP_SECRET={{ coolify_pusher_app_secret }}

ROOT_USERNAME={{ coolify_root_username }}
ROOT_USER_EMAIL={{ coolify_root_email }}
ROOT_USER_PASSWORD={{ coolify_root_password }}

REGISTRY_URL=ghcr.io
