SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB_HOST={{ semaphore_database_host }}
SEMAPHORE_DB_PORT={{ semaphore_database_port }}
SEMAPHORE_DB_USER={{ semaphore_database_user }}
SEMAPHORE_DB_PASS=[[ with secret "kv/data/{{ semaphore_openbao_secret_path }}" ]][[ .Data.data.SEMAPHORE_DB_PASS ]][[ end ]]
SEMAPHORE_DB={{ semaphore_database_name }}
SEMAPHORE_PORT={{ semaphore_server_port }}
SEMAPHORE_ADMIN={{ semaphore_admin_username }}
SEMAPHORE_ADMIN_PASSWORD=[[ with secret "kv/data/{{ semaphore_openbao_secret_path }}" ]][[ .Data.data.SEMAPHORE_ADMIN_PASSWORD ]][[ end ]]
SEMAPHORE_ADMIN_NAME={{ semaphore_admin_name }}
SEMAPHORE_ADMIN_EMAIL={{ semaphore_admin_email }}
SEMAPHORE_ACCESS_KEY_ENCRYPTION=[[ with secret "kv/data/{{ semaphore_openbao_secret_path }}" ]][[ .Data.data.SEMAPHORE_ACCESS_KEY_ENCRYPTION ]][[ end ]]
SEMAPHORE_COOKIE_HASH=[[ with secret "kv/data/{{ semaphore_openbao_secret_path }}" ]][[ .Data.data.SEMAPHORE_COOKIE_HASH ]][[ end ]]
SEMAPHORE_COOKIE_ENCRYPTION=[[ with secret "kv/data/{{ semaphore_openbao_secret_path }}" ]][[ .Data.data.SEMAPHORE_COOKIE_ENCRYPTION ]][[ end ]]
SEMAPHORE_DISABLE_UPDATE_CHECK=true
ANSIBLE_HOST_KEY_CHECKING=False
PYTHONUNBUFFERED=1
