AUTHENTIK_PORT={{ authentik_container_port }}
AUTHENTIK_SECRET_KEY=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_SECRET_KEY ]][[ end ]]
AUTHENTIK_POSTGRESQL__PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_POSTGRESQL__PASSWORD ]][[ end ]]
POSTGRES_PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_POSTGRESQL__PASSWORD ]][[ end ]]
AUTHENTIK_BOOTSTRAP_TOKEN=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_BOOTSTRAP_TOKEN ]][[ end ]]
AUTHENTIK_BOOTSTRAP_PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_BOOTSTRAP_PASSWORD ]][[ end ]]
AUTHENTIK_BOOTSTRAP_EMAIL={{ authentik_bootstrap_email }}
AUTHENTIK_EMAIL__HOST=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__HOST ]][[ end ]]
AUTHENTIK_EMAIL__PORT=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__PORT ]][[ end ]]
AUTHENTIK_EMAIL__USERNAME=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__USERNAME ]][[ end ]]
AUTHENTIK_EMAIL__PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__PASSWORD ]][[ end ]]
AUTHENTIK_EMAIL__USE_TLS=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__USE_TLS ]][[ end ]]
AUTHENTIK_EMAIL__USE_SSL=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__USE_SSL ]][[ end ]]
AUTHENTIK_EMAIL__TIMEOUT=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__TIMEOUT ]][[ end ]]
AUTHENTIK_EMAIL__FROM=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_EMAIL__FROM ]][[ end ]]
