AUTHENTIK_PORT={{ authentik_container_port }}
AUTHENTIK_SECRET_KEY=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_SECRET_KEY ]][[ end ]]
AUTHENTIK_POSTGRESQL__PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_POSTGRESQL__PASSWORD ]][[ end ]]
POSTGRES_PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_POSTGRESQL__PASSWORD ]][[ end ]]
AUTHENTIK_BOOTSTRAP_TOKEN=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_BOOTSTRAP_TOKEN ]][[ end ]]
AUTHENTIK_BOOTSTRAP_PASSWORD=[[ with secret "kv/data/{{ authentik_openbao_secret_path }}" ]][[ .Data.data.AUTHENTIK_BOOTSTRAP_PASSWORD ]][[ end ]]
AUTHENTIK_BOOTSTRAP_EMAIL={{ authentik_bootstrap_email }}
