<clickhouse>
  <profiles>
    <default>
      <max_memory_usage>1000000000</max_memory_usage>
      <max_bytes_before_external_group_by>200000000</max_bytes_before_external_group_by>
      <max_bytes_before_external_sort>200000000</max_bytes_before_external_sort>
      <use_uncompressed_cache>0</use_uncompressed_cache>
      <load_balancing>in_order</load_balancing>
    </default>
  </profiles>
</clickhouse>
