<clickhouse>
  <mark_cache_size>536870912</mark_cache_size>
  <uncompressed_cache_size>33554432</uncompressed_cache_size>
  <max_server_memory_usage>2147483648</max_server_memory_usage>
  <max_server_memory_usage_to_ram_ratio>0.7</max_server_memory_usage_to_ram_ratio>
</clickhouse>
