path "sys/health" {
  capabilities = ["read"]
}

path "kv/data/services/windmill/*" {
  capabilities = ["create", "read", "update", "list"]
}

path "kv/metadata/services/windmill/*" {
  capabilities = ["create", "read", "update", "list"]
}

path "kv/data/services/mail-platform/*" {
  capabilities = ["create", "read", "update", "list"]
}

path "kv/metadata/services/mail-platform/*" {
  capabilities = ["create", "read", "update", "list"]
}
