FALCO_EVENT_BRIDGE_LISTEN_HOST={{ falco_event_bridge_listen_host }}
FALCO_EVENT_BRIDGE_LISTEN_PORT={{ falco_event_bridge_listen_port }}
FALCO_EVENT_BRIDGE_ACTOR_ID={{ falco_event_bridge_actor_id }}
FALCO_EVENT_BRIDGE_SOURCE_HOST={{ falco_event_bridge_source_host }}
FALCO_EVENT_BRIDGE_EVENT_TOPIC={{ falco_event_bridge_event_topic }}
FALCO_EVENT_BRIDGE_NATS_SUBJECT={{ falco_event_bridge_nats_subject }}
FALCO_EVENT_BRIDGE_NATS_HOST={{ falco_event_bridge_nats_host }}
FALCO_EVENT_BRIDGE_NATS_PORT={{ falco_event_bridge_nats_port }}
FALCO_EVENT_BRIDGE_NATS_USERNAME={{ falco_event_bridge_nats_username }}
FALCO_EVENT_BRIDGE_NATS_PASSWORD={{ falco_event_bridge_nats_password }}
FALCO_EVENT_BRIDGE_NTFY_BASE_URL={{ falco_event_bridge_ntfy_base_url }}
FALCO_EVENT_BRIDGE_NTFY_TOPIC={{ falco_event_bridge_ntfy_topic }}
FALCO_EVENT_BRIDGE_NTFY_USERNAME={{ falco_event_bridge_ntfy_username }}
FALCO_EVENT_BRIDGE_NTFY_PASSWORD={{ falco_event_bridge_ntfy_password }}
FALCO_EVENT_BRIDGE_MUTATION_AUDIT_FILE={{ falco_event_bridge_mutation_audit_file }}
FALCO_EVENT_BRIDGE_HTTP_TIMEOUT_SECONDS={{ falco_event_bridge_http_timeout_seconds }}
