APP_NAME={{ outline_app_name }}
URL={{ outline_public_base_url }}
PORT=3000
SERVICES=web,worker,collaboration
WEB_CONCURRENCY=1
FORCE_HTTPS={{ 'true' if outline_force_https else 'false' }}
ENABLE_UPDATES={{ 'true' if outline_enable_updates else 'false' }}
DATABASE_URL=postgres://{{ outline_database_user }}:{{ outline_database_password | urlencode }}@{{ outline_database_host }}:5432/{{ outline_database_name }}
PGSSLMODE=disable
REDIS_URL=redis://:{{ outline_redis_password | urlencode | replace('/', '%2F') }}@redis:6379/0
SECRET_KEY={{ outline_secret_key }}
UTILS_SECRET={{ outline_utils_secret }}
FILE_STORAGE=s3
FILE_STORAGE_UPLOAD_MAX_SIZE=104857600
AWS_ACCESS_KEY_ID={{ outline_minio_root_user }}
AWS_SECRET_ACCESS_KEY={{ outline_minio_root_password }}
AWS_REGION={{ outline_aws_region }}
AWS_S3_UPLOAD_BUCKET_URL=http://minio:9000
AWS_S3_UPLOAD_BUCKET_NAME={{ outline_bucket_name }}
AWS_S3_FORCE_PATH_STYLE=true
AWS_S3_ACL=private
OIDC_CLIENT_ID={{ outline_keycloak_client_id }}
OIDC_CLIENT_SECRET={{ outline_keycloak_client_secret }}
OIDC_AUTH_URI={{ outline_keycloak_auth_uri }}
OIDC_TOKEN_URI={{ outline_keycloak_token_uri }}
OIDC_USERINFO_URI={{ outline_keycloak_userinfo_uri }}
OIDC_LOGOUT_URI={{ outline_keycloak_logout_uri }}
OIDC_USERNAME_CLAIM={{ outline_keycloak_username_claim }}
OIDC_SCOPES={{ outline_keycloak_scopes }}
