REDPANDA_ADMIN_USER={{ redpanda_admin_user }}
REDPANDA_ADMIN_PASSWORD=[[ with secret "kv/data/{{ redpanda_openbao_secret_path }}" ]][[ .Data.data.REDPANDA_ADMIN_PASSWORD ]][[ end ]]
REDPANDA_PLATFORM_USER={{ redpanda_platform_user }}
REDPANDA_PLATFORM_PASSWORD=[[ with secret "kv/data/{{ redpanda_openbao_secret_path }}" ]][[ .Data.data.REDPANDA_PLATFORM_PASSWORD ]][[ end ]]
REDPANDA_SASL_MECHANISM={{ redpanda_sasl_mechanism }}
