LANGFUSE_PUBLIC_BASE_URL={{ langfuse_public_base_url }}
NEXTAUTH_URL={{ langfuse_public_base_url }}
NEXTAUTH_SECRET=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.NEXTAUTH_SECRET ]][[ end ]]
DATABASE_URL=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.DATABASE_URL ]][[ end ]]
SALT=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.SALT ]][[ end ]]
ENCRYPTION_KEY=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.ENCRYPTION_KEY ]][[ end ]]
TELEMETRY_ENABLED={{ 'true' if langfuse_telemetry_enabled | bool else 'false' }}
AUTH_DISABLE_SIGNUP={{ 'true' if langfuse_disable_signup | bool else 'false' }}
AUTH_KEYCLOAK_NAME=Keycloak
AUTH_KEYCLOAK_CLIENT_ID={{ langfuse_keycloak_client_id }}
AUTH_KEYCLOAK_CLIENT_SECRET=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.AUTH_KEYCLOAK_CLIENT_SECRET ]][[ end ]]
AUTH_KEYCLOAK_ISSUER={{ langfuse_keycloak_issuer }}
AUTH_KEYCLOAK_ALLOW_ACCOUNT_LINKING=true
CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
CLICKHOUSE_URL=http://clickhouse:8123
CLICKHOUSE_USER={{ langfuse_clickhouse_user }}
CLICKHOUSE_PASSWORD=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.CLICKHOUSE_PASSWORD ]][[ end ]]
CLICKHOUSE_DB=default
CLICKHOUSE_CLUSTER_ENABLED=false
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.REDIS_AUTH ]][[ end ]]
LANGFUSE_S3_EVENT_UPLOAD_BUCKET={{ langfuse_minio_bucket_name }}
LANGFUSE_S3_EVENT_UPLOAD_REGION=us-east-1
LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID={{ langfuse_minio_access_key_id }}
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.LANGFUSE_S3_SECRET_ACCESS_KEY ]][[ end ]]
LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT={{ langfuse_minio_private_endpoint }}
LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_EVENT_UPLOAD_PREFIX=events/
LANGFUSE_S3_MEDIA_UPLOAD_BUCKET={{ langfuse_minio_bucket_name }}
LANGFUSE_S3_MEDIA_UPLOAD_REGION=us-east-1
LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID={{ langfuse_minio_access_key_id }}
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.LANGFUSE_S3_SECRET_ACCESS_KEY ]][[ end ]]
LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT={{ langfuse_minio_public_endpoint }}
LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_MEDIA_UPLOAD_PREFIX=media/
LANGFUSE_S3_BATCH_EXPORT_ENABLED=false
LANGFUSE_INIT_ORG_ID={{ langfuse_init_org_id }}
LANGFUSE_INIT_ORG_NAME={{ langfuse_init_org_name }}
LANGFUSE_INIT_PROJECT_ID={{ langfuse_init_project_id }}
LANGFUSE_INIT_PROJECT_NAME={{ langfuse_init_project_name }}
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.LANGFUSE_INIT_PROJECT_PUBLIC_KEY ]][[ end ]]
LANGFUSE_INIT_PROJECT_SECRET_KEY=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.LANGFUSE_INIT_PROJECT_SECRET_KEY ]][[ end ]]
LANGFUSE_INIT_USER_EMAIL={{ langfuse_init_user_email }}
LANGFUSE_INIT_USER_NAME={{ langfuse_init_user_name }}
LANGFUSE_INIT_USER_PASSWORD=[[ with secret "kv/data/{{ langfuse_openbao_secret_path }}" ]][[ .Data.data.LANGFUSE_INIT_USER_PASSWORD ]][[ end ]]
