#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy drop;

    iifname "lo" accept
    ct state established,related accept
    ip protocol icmp accept
    ip saddr { {{ postgres_vm_ssh_allowed_sources | join(', ') }} } tcp dport 22 accept
{% if postgres_vm_client_allowed_sources | length > 0 %}
    ip saddr { {{ postgres_vm_client_allowed_sources | join(', ') }} } tcp dport 5432 accept
{% endif %}
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }
}
