BASE_URL={{ plausible_public_base_url }}
SECRET_KEY_BASE=[[ with secret "kv/data/{{ plausible_openbao_secret_path }}" ]][[ .Data.data.SECRET_KEY_BASE ]][[ end ]]
DISABLE_REGISTRATION={{ 'true' if plausible_disable_registration | bool else 'false' }}
ENABLE_EMAIL_VERIFICATION={{ 'true' if plausible_enable_email_verification | bool else 'false' }}
LISTEN_IP=0.0.0.0
HTTP_PORT=8000
TMPDIR=/var/lib/plausible/tmp
DATABASE_URL=[[ with secret "kv/data/{{ plausible_openbao_secret_path }}" ]][[ .Data.data.DATABASE_URL ]][[ end ]]
CLICKHOUSE_DATABASE_URL=http://plausible-events-db:8123/plausible_events_db
MAILER_ADAPTER={{ plausible_mailer_adapter }}
MAILER_EMAIL={{ plausible_mailer_email }}
MAILER_NAME={{ plausible_mailer_name }}
SMTP_HOST_ADDR={{ plausible_smtp_host }}
SMTP_HOST_PORT={{ plausible_smtp_port }}
SMTP_USER_NAME={{ plausible_smtp_username }}
SMTP_USER_PWD=[[ with secret "kv/data/{{ plausible_openbao_secret_path }}" ]][[ .Data.data.SMTP_USER_PWD ]][[ end ]]
SMTP_HOST_SSL_ENABLED=false
