PLATFORM_CONTEXT_API_TOKEN={{ platform_context_api_token }}
PLATFORM_CONTEXT_CORPUS_ROOT={{ platform_context_corpus_dir }}
PLATFORM_CONTEXT_COLLECTION={{ platform_context_qdrant_collection }}
PLATFORM_CONTEXT_MEMORY_COLLECTION={{ platform_context_memory_collection }}
PLATFORM_CONTEXT_MEMORY_DSN={{ platform_context_memory_dsn }}
PLATFORM_CONTEXT_MEMORY_INDEX_PATH={{ platform_context_memory_index_path }}
PLATFORM_CONTEXT_QDRANT_URL=http://qdrant:6333
PLATFORM_CONTEXT_EMBEDDING_BACKEND={{ platform_context_embedding_backend }}
PLATFORM_CONTEXT_EMBEDDING_MODEL={{ platform_context_embedding_model }}
PLATFORM_CONTEXT_EMBEDDING_DIMENSION={{ platform_context_embedding_dimension }}
PLATFORM_CONTEXT_OLLAMA_URL={{ platform_context_ollama_url }}
PLATFORM_CONTEXT_OLLAMA_URL={{ platform_context_ollama_url }}
