FLASK_APP=superset.app:create_app()
SUPERSET_HOME=/app/superset_home
SUPERSET_PORT={{ superset_container_port }}
SUPERSET_BIND_ADDRESS=0.0.0.0
SUPERSET_LOAD_EXAMPLES=no
SUPERSET_CONFIG_PATH=/app/pythonpath/superset_config.py
PYTHONPATH=/app/pythonpath
SUPERSET_ADMIN_USERNAME={{ superset_admin_username }}
SUPERSET_ADMIN_FIRST_NAME={{ superset_admin_first_name }}
SUPERSET_ADMIN_LAST_NAME={{ superset_admin_last_name }}
SUPERSET_ADMIN_EMAIL={{ superset_admin_email }}
SUPERSET_PUBLIC_BASE_URL={{ superset_public_base_url }}
SUPERSET_KEYCLOAK_CLIENT_ID={{ superset_keycloak_client_id }}
SUPERSET_KEYCLOAK_ISSUER={{ superset_keycloak_issuer }}
SUPERSET_KEYCLOAK_SERVER_METADATA_URL={{ superset_keycloak_server_metadata_url }}
SUPERSET_KEYCLOAK_AUTHORIZE_URL={{ superset_keycloak_authorize_url }}
SUPERSET_KEYCLOAK_TOKEN_URL={{ superset_keycloak_token_url }}
SUPERSET_KEYCLOAK_API_BASE_URL={{ superset_keycloak_api_base_url }}
SUPERSET_KEYCLOAK_SCOPES={{ superset_keycloak_scopes | join(' ') }}
SUPERSET_KEYCLOAK_LOGOUT_URL={{ superset_keycloak_logout_url }}
SUPERSET_AUTH_USER_REGISTRATION_ROLE={{ superset_auth_user_registration_role }}
SUPERSET_AUTH_ROLES_MAPPING_JSON={{ superset_auth_roles_mapping | to_json }}
