SUPERSET_SECRET_KEY=[[ with secret "kv/data/{{ superset_openbao_secret_path }}" ]][[ .Data.data.SUPERSET_SECRET_KEY ]][[ end ]]
SUPERSET_DATABASE_URI=[[ with secret "kv/data/{{ superset_openbao_secret_path }}" ]][[ .Data.data.SUPERSET_DATABASE_URI ]][[ end ]]
SUPERSET_ADMIN_PASSWORD=[[ with secret "kv/data/{{ superset_openbao_secret_path }}" ]][[ .Data.data.SUPERSET_ADMIN_PASSWORD ]][[ end ]]
SUPERSET_KEYCLOAK_CLIENT_SECRET=[[ with secret "kv/data/{{ superset_openbao_secret_path }}" ]][[ .Data.data.SUPERSET_KEYCLOAK_CLIENT_SECRET ]][[ end ]]
