BREVO_API_KEY=[[ with secret "kv/data/{{ mail_platform_openbao_secret_path }}" ]][[ .Data.data.brevo_api_key ]][[ end ]]
BREVO_API_URL={{ mail_platform_brevo_api_url }}
DEFAULT_FROM_EMAIL={{ mail_platform_brevo_sender_email }}
DEFAULT_FROM_NAME={{ mail_platform_brevo_sender_name }}
DEFAULT_REPLY_TO_EMAIL={{ mail_platform_reply_to_email }}
GATEWAY_API_KEY=[[ with secret "kv/data/{{ mail_platform_openbao_secret_path }}" ]][[ .Data.data.gateway_api_key ]][[ end ]]
LOCAL_SMTP_HOST=stalwart
LOCAL_SMTP_PORT=587
LOCAL_SMTP_USERNAME={{ mail_platform_mailbox_login }}
LOCAL_SMTP_PASSWORD=[[ with secret "kv/data/{{ mail_platform_openbao_secret_path }}" ]][[ .Data.data.mailbox_password ]][[ end ]]
STALWART_API_URL=http://stalwart:8080
STALWART_ADMIN_USER=admin
STALWART_ADMIN_PASSWORD=[[ with secret "kv/data/{{ mail_platform_openbao_secret_path }}" ]][[ .Data.data.stalwart_admin_password ]][[ end ]]
ATTEMPT_LOCAL_FIRST={{ mail_platform_gateway_attempt_local_first | lower }}
FORCE_BREVO_FALLBACK={{ mail_platform_gateway_force_brevo_fallback | lower }}
NOTIFICATION_PROFILES_FILE={{ mail_platform_gateway_profiles_container_file }}
STATE_FILE=/data/state.json
UVICORN_WORKERS={{ mail_platform_gateway_uvicorn_workers }}
OTEL_SERVICE_NAME={{ mail_platform_gateway_trace_service_name }}
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT={{ mail_platform_gateway_trace_otlp_endpoint }}
OTEL_RESOURCE_ATTRIBUTES=deployment.environment={{ mail_platform_gateway_trace_environment }},service.namespace={{ mail_platform_gateway_trace_service_namespace }}
SENTRY_DSN=[[ with secret "kv/data/{{ mail_platform_openbao_secret_path }}" ]][[ .Data.data.sentry_dsn ]][[ end ]]
SENTRY_ENVIRONMENT={{ mail_platform_gateway_sentry_environment }}
SENTRY_RELEASE={{ mail_platform_gateway_sentry_release }}
