HOST=0.0.0.0
PORT={{ librechat_container_port }}
MONGO_URI=mongodb://{{ librechat_mongo_container_name }}:27017/LibreChat
MEILI_HOST=http://{{ librechat_meilisearch_container_name }}:7700
NO_INDEX=true
ALLOW_REGISTRATION=true
ALLOW_SOCIAL_LOGIN=true
ALLOW_SOCIAL_REGISTRATION=true
JWT_SECRET=[[ with secret "kv/data/{{ librechat_openbao_secret_path }}" ]][[ .Data.data.JWT_SECRET ]][[ end ]]
CREDS_KEY=[[ with secret "kv/data/{{ librechat_openbao_secret_path }}" ]][[ .Data.data.CREDS_KEY ]][[ end ]]
CREDS_IV=[[ with secret "kv/data/{{ librechat_openbao_secret_path }}" ]][[ .Data.data.CREDS_IV ]][[ end ]]
DOMAIN_CLIENT=https://chat.{{ platform_domain }}
DOMAIN_SERVER=https://chat.{{ platform_domain }}
{% if librechat_enable_oidc | bool %}
OPENID_ISSUER={{ librechat_oidc_issuer }}
OPENID_CLIENT_ID={{ librechat_oidc_client_id }}
OPENID_CLIENT_SECRET=[[ with secret "kv/data/{{ librechat_openbao_secret_path }}" ]][[ .Data.data.OPENID_CLIENT_SECRET ]][[ end ]]
OPENID_CALLBACK_URL={{ librechat_oidc_callback_url }}
OPENID_SCOPE=openid email profile
OPENID_BUTTON_LABEL={{ librechat_oidc_button_label }}
{% endif %}
OLLAMA_BASE_URL={{ librechat_ollama_base_url }}
ANTHROPIC_API_KEY=[[ with secret "kv/data/{{ librechat_openbao_secret_path }}" ]][[ .Data.data.ANTHROPIC_API_KEY ]][[ end ]]
OPENAI_API_KEY=[[ with secret "kv/data/{{ librechat_openbao_secret_path }}" ]][[ .Data.data.OPENAI_API_KEY ]][[ end ]]
DEBUG_LOGGING=false
