SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
SYNAPSE_SERVER_NAME={{ matrix_synapse_server_name }}
SYNAPSE_REPORT_STATS={{ 'yes' if matrix_synapse_report_stats | bool else 'no' }}
MATRIX_SYNAPSE_DATABASE_PASSWORD={{ matrix_synapse_database_password }}
