{
  "admin": {
    "email": "{{ plane_bootstrap_admin_email }}",
    "first_name": "{{ plane_bootstrap_admin_first_name }}",
    "last_name": "{{ plane_bootstrap_admin_last_name }}",
    "company_name": "{{ plane_bootstrap_company_name }}",
    "is_telemetry_enabled": false
  },
  "workspace": {
    "name": "{{ plane_bootstrap_workspace_name }}",
    "slug": "{{ plane_bootstrap_workspace_slug }}"
  },
  "project": {
    "name": "{{ plane_bootstrap_project_name }}",
    "identifier": "{{ plane_bootstrap_project_identifier }}"
  },
  "api_token": {
    "label": "{{ plane_bootstrap_api_token_label }}",
    "description": "{{ plane_bootstrap_api_token_description }}"
  }
}
