APP_RELEASE={{ plane_app_release }}
APP_DOMAIN={{ plane_service_topology.public_hostname }}
WEB_URL={{ plane_public_base_url }}
DEBUG=0
CORS_ALLOWED_ORIGINS={{ plane_public_base_url }}
API_BASE_URL=http://api:8000
PGHOST={{ plane_database_host }}
PGDATABASE={{ plane_database_name }}
POSTGRES_USER={{ plane_database_user }}
POSTGRES_PASSWORD={{ plane_database_password }}
POSTGRES_DB={{ plane_database_name }}
POSTGRES_PORT=5432
DATABASE_URL={{ plane_database_url }}
REDIS_HOST=plane-redis
REDIS_PORT=6379
REDIS_URL=redis://plane-redis:6379/
RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD={{ plane_rabbitmq_password }}
RABBITMQ_VHOST=plane
AMQP_URL=amqp://plane:{{ plane_rabbitmq_password | urlencode | replace('/', '%2F') }}@plane-mq:5672/plane
RABBITMQ_DEFAULT_USER=plane
RABBITMQ_DEFAULT_PASS={{ plane_rabbitmq_password }}
RABBITMQ_DEFAULT_VHOST=plane
SECRET_KEY={{ plane_secret_key }}
LIVE_SERVER_SECRET_KEY={{ plane_live_server_secret_key }}
AWS_ACCESS_KEY_ID={{ plane_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ plane_aws_secret_access_key }}
AWS_S3_ENDPOINT_URL=http://plane-minio:9000
AWS_S3_BUCKET_NAME={{ plane_s3_bucket_name }}
BUCKET_NAME={{ plane_s3_bucket_name }}
MINIO_ROOT_USER={{ plane_minio_root_user }}
MINIO_ROOT_PASSWORD={{ plane_aws_secret_access_key }}
USE_MINIO=1
MINIO_ENDPOINT_SSL=0
FILE_SIZE_LIMIT=5242880
LISTEN_HTTP_PORT=80
SITE_ADDRESS=:80
GUNICORN_WORKERS={{ plane_gunicorn_workers }}
TRUSTED_PROXIES={{ plane_trusted_proxies | join(' ') }}
API_KEY_RATE_LIMIT=60/minute

# Keycloak OIDC Authentication (ADR 0353)
OIDC_SERVER_URL={{ plane_oidc_server_url }}/realms/{{ plane_oidc_realm }}
OIDC_CLIENT_ID={{ plane_oidc_client_id }}
OIDC_CLIENT_SECRET={{ plane_oidc_client_secret }}
OIDC_DISCOVERY_URL={{ plane_oidc_discovery_url }}
OIDC_CALLBACK_URL={{ plane_oidc_callback_url }}
OIDC_SCOPES={{ plane_oidc_scopes }}
ENABLE_OIDC={{ plane_oidc_enabled | string | lower }}
OIDC_ENABLE_AUTO_SIGNUP={{ plane_oidc_auto_signup | string | lower }}
SOCIAL_AUTH_KEYCLOAK_OAUTH2_SERVER_URL={{ plane_oidc_server_url }}
SOCIAL_AUTH_KEYCLOAK_OAUTH2_KEY={{ plane_oidc_client_id }}
SOCIAL_AUTH_KEYCLOAK_OAUTH2_SECRET={{ plane_oidc_client_secret }}
SOCIAL_AUTH_KEYCLOAK_OAUTH2_AUTHORIZATION_URL={{ plane_oidc_server_url }}/protocol/openid-connect/auth
SOCIAL_AUTH_KEYCLOAK_OAUTH2_ACCESS_TOKEN_URL={{ plane_oidc_server_url }}/protocol/openid-connect/token
SOCIAL_AUTH_KEYCLOAK_OAUTH2_PROFILE_URL={{ plane_oidc_server_url }}/protocol/openid-connect/userinfo
