JUPYTERHUB_PUBLIC_BASE_URL={{ jupyterhub_public_base_url }}
JUPYTERHUB_INTERNAL_BASE_URL={{ jupyterhub_internal_base_url }}
JUPYTERHUB_CONFIG_PATH=/srv/jupyterhub/jupyterhub_config.py
JUPYTERHUB_PROXY_AUTH_TOKEN={{ jupyterhub_proxy_auth_token }}
JUPYTERHUB_SERVICE_API_TOKEN={{ jupyterhub_service_api_token }}
JUPYTERHUB_COOKIE_SECRET_FILE=/data/jupyterhub_cookie_secret
JUPYTERHUB_DB_URL=sqlite:////data/jupyterhub.sqlite
JUPYTERHUB_HUB_CONNECT_IP={{ jupyterhub_hub_connect_ip }}
DOCKER_NETWORK_NAME={{ jupyterhub_compose_network_name }}
SINGLEUSER_IMAGE={{ jupyterhub_singleuser_image_name }}:latest
JUPYTERHUB_ADMIN_USERS={{ jupyterhub_admin_users | join(',') }}
JUPYTERHUB_DEFAULT_URL={{ jupyterhub_default_url }}
JUPYTERHUB_NOTEBOOK_DIR={{ jupyterhub_singleuser_notebook_dir }}
JUPYTERHUB_SPAWN_TIMEOUT_SECONDS={{ jupyterhub_spawn_timeout_seconds }}
JUPYTERHUB_SPAWN_HTTP_TIMEOUT_SECONDS={{ jupyterhub_spawn_http_timeout_seconds }}
OIDC_CLIENT_ID={{ jupyterhub_keycloak_client_id }}
OIDC_CLIENT_SECRET={{ jupyterhub_keycloak_client_secret }}
OIDC_AUTHORIZE_URL={{ jupyterhub_keycloak_authorize_url }}
OIDC_TOKEN_URL={{ jupyterhub_keycloak_token_url }}
OIDC_USERDATA_URL={{ jupyterhub_keycloak_userdata_url }}
OIDC_ISSUER={{ jupyterhub_keycloak_issuer }}
OIDC_LOGOUT_URL={{ jupyterhub_keycloak_logout_url }}
OIDC_SCOPES={{ jupyterhub_keycloak_scopes | join(' ') }}
OIDC_USERNAME_CLAIM={{ jupyterhub_keycloak_username_claim }}
OPENAI_BASE_URL={{ jupyterhub_openai_base_url }}
OPENAI_API_KEY=ollama
OLLAMA_BASE_URL={{ jupyterhub_ollama_base_url }}
PLATFORM_CONTEXT_URL={{ jupyterhub_platform_context_url }}
PLATFORM_CONTEXT_API_TOKEN={{ jupyterhub_platform_context_api_token }}
AWS_ACCESS_KEY_ID={{ jupyterhub_minio_root_user }}
AWS_SECRET_ACCESS_KEY={{ jupyterhub_minio_root_password }}
AWS_ENDPOINT_URL_S3=http://minio:9000
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_ROOT_USER={{ jupyterhub_minio_root_user }}
MINIO_ROOT_PASSWORD={{ jupyterhub_minio_root_password }}
JUPYTERHUB_SHARED_BUCKET={{ jupyterhub_shared_bucket_name }}
JUPYTERHUB_SHARED_REGION={{ jupyterhub_shared_region }}
