FROM {{ jupyterhub_singleuser_base_image }}

USER root
WORKDIR /tmp/jupyterhub-singleuser

COPY requirements.txt ./requirements.txt
RUN pip install --no-cache-dir -r requirements.txt \
  && rm -rf /tmp/jupyterhub-singleuser

USER ${NB_UID}
