{% from 'compose_macros.j2' import openbao_sidecar %}
---
services:
{{ openbao_sidecar("gitea", service_name="gitea-openbao-agent", healthcheck_timeout=5) }}

  gitea:
    image: {{ gitea_image }}
    container_name: {{ gitea_container_name }}
    restart: unless-stopped
    depends_on:
      gitea-openbao-agent:
        condition: service_healthy
    env_file:
      - {{ gitea_env_file }}
    extra_hosts:
      - "sso.{{ platform_domain }}:{{ hostvars['nginx'].ansible_host }}"
    ports:
      - "{{ ansible_host }}:{{ gitea_http_port }}:3000"
    volumes:
      - {{ gitea_data_dir }}:/var/lib/gitea
    networks:
      - default

networks:
  default:
    name: {{ gitea_network_name }}
    ipam:
      config:
        - subnet: {{ gitea_network_subnet }}
