PAPERLESS_URL={{ paperless_public_base_url }}
PAPERLESS_ALLOWED_HOSTS={{ paperless_service_topology.public_hostname }},127.0.0.1,localhost
PAPERLESS_CSRF_TRUSTED_ORIGINS={{ paperless_public_base_url }}
PAPERLESS_USE_X_FORWARD_HOST=true
PAPERLESS_USE_X_FORWARD_PORT=true
PAPERLESS_PROXY_SSL_HEADER=["HTTP_X_FORWARDED_PROTO", "https"]
PAPERLESS_ACCOUNT_DEFAULT_HTTP_PROTOCOL=https
PAPERLESS_DBHOST={{ paperless_database_host }}
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME={{ paperless_database_name }}
PAPERLESS_DBUSER={{ paperless_database_user }}
PAPERLESS_DBPASS={{ paperless_database_password }}
PAPERLESS_REDIS=redis://:{{ paperless_redis_password | urlencode | replace('/', '%2F') }}@broker:6379
PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_TIME_ZONE={{ paperless_timezone }}
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}
PAPERLESS_ACCOUNT_ALLOW_SIGNUPS=false
PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS=true
PAPERLESS_SOCIAL_AUTO_SIGNUP=true
PAPERLESS_REDIRECT_LOGIN_TO_SSO=true
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS={{ paperless_oidc_provider_json }}
PAPERLESS_ADMIN_USER={{ paperless_admin_username }}
PAPERLESS_ADMIN_PASSWORD={{ paperless_admin_password }}
PAPERLESS_ADMIN_MAIL={{ paperless_admin_mail }}
