# Managed by Ansible for Patroni-controlled PostgreSQL.
listen_addresses = '127.0.0.1,{{ ansible_host }}'
password_encryption = 'scram-sha-256'
wal_level = 'replica'
max_wal_senders = 10
max_replication_slots = 10
hot_standby = 'on'
synchronous_commit = 'on'
synchronous_standby_names = '*'
