POSTGRES_HOST={{ lago_database_host }}
POSTGRES_PORT={{ lago_database_port }}
POSTGRES_DB={{ lago_database_name }}
POSTGRES_USER={{ lago_database_user }}
POSTGRES_PASSWORD={{ lago_database_password }}
RAILS_ENV={{ lago_rails_env }}
RACK_ENV={{ lago_rack_env }}
ANNOTATERB_SKIP_ON_DB_TASKS={{ lago_annotaterb_skip_on_db_tasks }}
DATABASE_URL=postgresql://{{ lago_database_user }}:{{ lago_database_password | urlencode }}@{{ lago_database_host }}:{{ lago_database_port }}/{{ lago_database_name }}?search_path=public
REDIS_HOST={{ lago_redis_host }}
REDIS_PORT={{ lago_redis_port }}
REDIS_PASSWORD={{ lago_redis_password }}
REDIS_URL={{ lago_redis_url }}
LAGO_REDIS_CACHE_HOST={{ lago_redis_host }}
LAGO_REDIS_CACHE_PORT={{ lago_redis_port }}
LAGO_REDIS_CACHE_PASSWORD={{ lago_redis_password }}
LAGO_REDIS_CACHE_URL={{ lago_redis_cache_url }}
LAGO_REDIS_CABLE_URL={{ lago_redis_cable_url }}
LAGO_FRONT_URL={{ lago_public_base_url }}
LAGO_API_URL={{ lago_public_api_base_url }}
API_URL={{ lago_public_api_base_url }}
SECRET_KEY_BASE={{ lago_secret_key_base }}
LAGO_RSA_PRIVATE_KEY="{{ lago_rsa_private_key_b64 }}"
LAGO_ENCRYPTION_PRIMARY_KEY={{ lago_encryption_primary_key }}
LAGO_ENCRYPTION_DETERMINISTIC_KEY={{ lago_encryption_deterministic_key }}
LAGO_ENCRYPTION_KEY_DERIVATION_SALT={{ lago_encryption_key_derivation_salt }}
LAGO_PDF_URL=http://pdf:3000
LAGO_DISABLE_SIGNUP={{ 'true' if lago_disable_signup | bool else 'false' }}
LAGO_DISABLE_SEGMENT={{ 'true' if lago_disable_segment | bool else 'false' }}
LAGO_DISABLE_PDF_GENERATION={{ 'true' if lago_disable_pdf_generation | bool else 'false' }}
LAGO_RAILS_STDOUT=true
LAGO_CREATE_ORG=true
LAGO_ORG_NAME="{{ lago_org_name }}"
LAGO_ORG_USER_EMAIL={{ lago_org_user_email }}
LAGO_ORG_USER_PASSWORD={{ lago_bootstrap_user_password }}
LAGO_ORG_API_KEY={{ lago_org_api_key }}
