{
  "producers": [
    {
      "id": "{{ lago_smoke_producer_id }}",
      "name": "Lago Smoke Producer",
      "token": "{{ lago_smoke_producer_token }}",
      "allowed_metric_codes": [
        "{{ lago_smoke_metric_code }}"
      ],
      "allowed_external_subscription_ids": [
        "{{ lago_smoke_external_subscription_id }}"
      ]
    }
  ]
}
