SFTPGO_DATA_PROVIDER__PASSWORD=[[ with secret "kv/data/{{ sftpgo_openbao_secret_path }}" ]][[ .Data.data.SFTPGO_DATA_PROVIDER__PASSWORD ]][[ end ]]
SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_SECRET=[[ with secret "kv/data/{{ sftpgo_openbao_secret_path }}" ]][[ .Data.data.SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_SECRET ]][[ end ]]
SFTPGO_DEFAULT_ADMIN_USERNAME=[[ with secret "kv/data/{{ sftpgo_openbao_secret_path }}" ]][[ .Data.data.SFTPGO_DEFAULT_ADMIN_USERNAME ]][[ end ]]
SFTPGO_DEFAULT_ADMIN_PASSWORD=[[ with secret "kv/data/{{ sftpgo_openbao_secret_path }}" ]][[ .Data.data.SFTPGO_DEFAULT_ADMIN_PASSWORD ]][[ end ]]
NATS_SERVER_URL=[[ with secret "kv/data/{{ sftpgo_openbao_secret_path }}" ]][[ .Data.data.NATS_SERVER_URL ]][[ end ]]
