SFTPGO_DATA_PROVIDER__PASSWORD={{ sftpgo_database_password }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_SECRET={{ sftpgo_keycloak_client_secret }}
SFTPGO_DEFAULT_ADMIN_USERNAME={{ sftpgo_bootstrap_admin_username }}
SFTPGO_DEFAULT_ADMIN_PASSWORD={{ sftpgo_bootstrap_admin_password }}
NATS_SERVER_URL=nats://{{ sftpgo_nats_username }}:{{ sftpgo_nats_password | urlencode }}@{{ sftpgo_nats_host }}:{{ sftpgo_nats_port }}
