APP_HOME_URL={{ grist_public_base_url }}
GRIST_SINGLE_ORG={{ grist_single_org }}
GRIST_DEFAULT_EMAIL={{ grist_default_email }}
GRIST_FORCE_LOGIN={{ 'true' if grist_force_login else 'false' }}
GRIST_OIDC_SP_HOST={{ grist_keycloak_sp_host }}
GRIST_OIDC_IDP_ISSUER={{ grist_keycloak_issuer }}
GRIST_OIDC_IDP_CLIENT_ID={{ grist_keycloak_client_id }}
GRIST_OIDC_IDP_SCOPES={{ grist_keycloak_scopes }}
