POSTGRES_HOST={{ nextcloud_database_host }}
POSTGRES_PORT={{ nextcloud_database_port }}
POSTGRES_DB={{ nextcloud_database_name }}
POSTGRES_USER={{ nextcloud_database_user }}
POSTGRES_PASSWORD=[[ with secret "kv/data/{{ nextcloud_openbao_secret_path }}" ]][[ .Data.data.POSTGRES_PASSWORD ]][[ end ]]
NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD=[[ with secret "kv/data/{{ nextcloud_openbao_secret_path }}" ]][[ .Data.data.NEXTCLOUD_ADMIN_PASSWORD ]][[ end ]]
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_public_hostname }}
TRUSTED_PROXIES={{ nextcloud_trusted_proxies | join(' ') }}
OVERWRITEHOST={{ nextcloud_public_hostname }}
OVERWRITEPROTOCOL={{ nextcloud_overwrite_protocol }}
OVERWRITECLIURL={{ nextcloud_public_base_url }}
REDIS_HOST={{ nextcloud_redis_container_name }}
REDIS_HOST_PASSWORD=[[ with secret "kv/data/{{ nextcloud_openbao_secret_path }}" ]][[ .Data.data.REDIS_HOST_PASSWORD ]][[ end ]]
PHP_MEMORY_LIMIT={{ nextcloud_php_memory_limit }}
PHP_UPLOAD_LIMIT={{ nextcloud_php_upload_limit }}
APACHE_DISABLE_REWRITE_IP=1
NEXTCLOUD_INIT_HTACCESS=true
