#cloud-config
hostname: {{ item.name }}
fqdn: {{ item.name }}.{{ platform_domain }}
manage_etc_hosts: true
package_update: false
package_upgrade: false
ssh_pwauth: false
disable_root: true

users:
  - default
  - name: {{ proxmox_guest_ci_user }}
    gecos: LV3 Operations
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - {{ lookup('file', bootstrap_authorized_key_path) | trim }}

packages:
  - qemu-guest-agent
  - sudo
  - curl
  - ca-certificates
  - jq
{% for package in item.packages %}
  - {{ package }}
{% endfor %}

runcmd:
  - systemctl enable --now qemu-guest-agent

final_message: "{{ item.name }} cloud-init completed."
