OPEN_WEBUI_IMAGE={{ open_webui_image }}
ENV=prod
WEBUI_URL={{ open_webui_webui_url }}
ENABLE_PERSISTENT_CONFIG=False
WEBUI_SECRET_KEY=[[ with secret "kv/data/{{ open_webui_openbao_secret_path }}" ]][[ .Data.data.WEBUI_SECRET_KEY ]][[ end ]]
WEBUI_ADMIN_NAME={{ open_webui_admin_name }}
WEBUI_ADMIN_EMAIL={{ open_webui_admin_email }}
WEBUI_ADMIN_PASSWORD=[[ with secret "kv/data/{{ open_webui_openbao_secret_path }}" ]][[ .Data.data.WEBUI_ADMIN_PASSWORD ]][[ end ]]
ENABLE_SIGNUP=False
ENABLE_LOGIN_FORM={{ 'False' if open_webui_enable_oidc | bool else 'True' }}
ENABLE_PASSWORD_AUTH={{ 'False' if open_webui_enable_oidc | bool else 'True' }}
DEFAULT_USER_ROLE=pending
ENABLE_CHANNELS=False
ENABLE_COMMUNITY_SHARING=False
ENABLE_MESSAGE_RATING=False
ENABLE_EVALUATION_ARENA_MODELS=False
AUDIT_LOG_LEVEL={{ open_webui_audit_log_level }}
ENABLE_OPENAI_API={{ 'True' if open_webui_enable_openai_api | bool else 'False' }}
ENABLE_OLLAMA_API={{ 'True' if open_webui_enable_ollama_api | bool else 'False' }}
ENABLE_RAG_WEB_SEARCH=False
ENABLE_IMAGE_GENERATION=False
DEFAULT_MODELS={{ open_webui_default_models }}
DEFAULT_PINNED_MODELS={{ open_webui_default_pinned_models }}
USER_PERMISSIONS_WORKSPACE_KNOWLEDGE_ACCESS=False
USER_PERMISSIONS_WORKSPACE_PROMPTS_ACCESS=False
USER_PERMISSIONS_WORKSPACE_TOOLS_ACCESS=False
USER_PERMISSIONS_WORKSPACE_SKILLS_ACCESS=False
USER_PERMISSIONS_FEATURES_WEB_SEARCH=False
USER_PERMISSIONS_FEATURES_IMAGE_GENERATION=False
USER_PERMISSIONS_FEATURES_CODE_INTERPRETER=False
USER_PERMISSIONS_FEATURES_DIRECT_TOOL_SERVERS=False
{% if open_webui_enable_oidc | bool %}
ENABLE_OAUTH_SIGNUP=True
OAUTH_CLIENT_ID={{ open_webui_oidc_client_id }}
OAUTH_CLIENT_SECRET=[[ with secret "kv/data/{{ open_webui_openbao_secret_path }}" ]][[ .Data.data.OAUTH_CLIENT_SECRET ]][[ end ]]
OPENID_PROVIDER_URL={{ open_webui_oidc_provider_url }}
OAUTH_PROVIDER_NAME={{ open_webui_oidc_provider_name }}
OAUTH_SCOPES={{ open_webui_oidc_scopes }}
{% else %}
ENABLE_OAUTH_SIGNUP=False
{% endif %}
[[ with secret "kv/data/{{ open_webui_openbao_secret_path }}" ]][[ .Data.data.PROVIDER_ENV_BLOCK ]][[ end ]]
