#!/usr/sbin/nft -f

flush ruleset

{% set policy = linux_guest_firewall_policy %}
{% set guest_ip_map = linux_guest_firewall_guest_ip_map %}
{% set guest_role_map = linux_guest_firewall_guest_role_map %}
{% set guest_policy = policy.guests[inventory_hostname] %}
{% macro render_match(rule) -%}
{% if rule.protocol == 'vrrp' -%}
ip protocol vrrp
{%- else -%}
{{ rule.protocol }} dport { {{ rule.ports | join(', ') }} }
{%- endif %}
{%- endmacro %}
{% macro render_rule(rule) -%}
{% if rule.source == 'public' %}
    {{ render_match(rule) }} accept
{% elif rule.source == 'management' %}
{% for source in policy.guest_management_sources %}
    ip saddr {{ source }} {{ render_match(rule) }} accept
{% endfor %}
{% elif rule.source == 'host' %}
    ip saddr {{ policy.host_source }} {{ render_match(rule) }} accept
{% elif rule.source == 'all_guests' %}
{% for guest_name, guest_ip in guest_ip_map.items() | sort if guest_name != inventory_hostname %}
    ip saddr {{ guest_ip }}/32 {{ render_match(rule) }} accept
{% endfor %}
{% elif rule.source in guest_ip_map %}
    ip saddr {{ guest_ip_map[rule.source] }}/32 {{ render_match(rule) }} accept
{% else %}
    ip saddr {{ rule.source }} {{ render_match(rule) }} accept
{% endif %}
{%- endmacro %}

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy drop;

    iifname "lo" accept
    ct state established,related accept
{% for rule in guest_policy.allowed_inbound %}
{{ render_rule(rule) }}
{% endfor %}
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
    ct state established,related accept
{% if guest_role_map[inventory_hostname] in ['docker-runtime', 'docker-build'] %}
    ip saddr 172.16.0.0/12 accept
{% endif %}
{% for rule in guest_policy.allowed_inbound %}
{{ render_rule(rule) }}
{% endfor %}
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }
}
