VIKUNJA_SERVICE_PUBLICURL={{ vikunja_public_base_url }}
VIKUNJA_SERVICE_PORT={{ vikunja_container_port }}
VIKUNJA_SERVICE_ENABLEREGISTRATION=false
VIKUNJA_SERVICE_ENABLEEMAILREMINDERS=false
VIKUNJA_SERVICE_ENABLEPUBLICTEAMS=false
VIKUNJA_AUTH_LOCAL_ENABLED={{ 'true' if vikunja_local_auth_enabled else 'false' }}
VIKUNJA_AUTH_OPENID_ENABLED=true
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_NAME={{ vikunja_keycloak_provider_name }}
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_AUTHURL={{ vikunja_keycloak_issuer }}
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_CLIENTID={{ vikunja_keycloak_client_id }}
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_CLIENTSECRET={{ vikunja_keycloak_client_secret }}
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_LOGOUTURL={{ vikunja_keycloak_logout_uri }}
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_SCOPE=openid profile email
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_EMAILFALLBACK=true
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_USERNAMEFALLBACK=true
VIKUNJA_AUTH_OPENID_PROVIDERS_LV3_FORCEUSERINFO=false
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_HOST={{ vikunja_database_host }}:5432
VIKUNJA_DATABASE_USER={{ vikunja_database_user }}
VIKUNJA_DATABASE_PASSWORD={{ vikunja_database_password }}
VIKUNJA_DATABASE_DATABASE={{ vikunja_database_name }}
VIKUNJA_DATABASE_SSLMODE=disable
VIKUNJA_SERVICE_SECRET={{ vikunja_service_secret }}
VIKUNJA_FILES_BASEPATH=/var/lib/vikunja/files
VIKUNJA_WEBHOOKS_ENABLED=true
VIKUNJA_WEBHOOKS_ALLOWNONROUTABLEIPS=true
VIKUNJA_OUTGOINGREQUESTS_ALLOWNONROUTABLEIPS=true
VIKUNJA_CORS_ENABLE=true
VIKUNJA_MAILER_ENABLED=false
VIKUNJA_WEBHOOK_SECRET={{ vikunja_webhook_secret }}
VIKUNJA_EVENT_NATS_URL={{ vikunja_event_nats_url }}
VIKUNJA_EVENT_NATS_USERNAME={{ vikunja_event_nats_username }}
VIKUNJA_EVENT_NATS_PASSWORD={{ vikunja_event_nats_password }}
VIKUNJA_EVENT_SUBJECT_PREFIX={{ vikunja_event_subject_prefix }}
VIKUNJA_WEBHOOK_BRIDGE_PORT={{ vikunja_bridge_port }}
