SQL_DSN=[[ with secret "kv/data/{{ one_api_openbao_secret_path }}" ]][[ .Data.data.SQL_DSN ]][[ end ]]
INITIAL_ROOT_ACCESS_TOKEN=[[ with secret "kv/data/{{ one_api_openbao_secret_path }}" ]][[ .Data.data.INITIAL_ROOT_ACCESS_TOKEN ]][[ end ]]
SESSION_SECRET=[[ with secret "kv/data/{{ one_api_openbao_secret_path }}" ]][[ .Data.data.SESSION_SECRET ]][[ end ]]
PORT=[[ with secret "kv/data/{{ one_api_openbao_secret_path }}" ]][[ .Data.data.PORT ]][[ end ]]
MEMORY_CACHE_ENABLED=[[ with secret "kv/data/{{ one_api_openbao_secret_path }}" ]][[ .Data.data.MEMORY_CACHE_ENABLED ]][[ end ]]
