BASE_URL={{ windmill_base_url }}
DATABASE_URL=postgres://{{ windmill_database_user }}:{{ windmill_database_password | urlencode | replace('/', '%2F') }}@{{ windmill_database_host }}:{{ windmill_database_port }}/{{ windmill_database_name }}?sslmode=disable
SUPERADMIN_SECRET={{ windmill_superadmin_secret }}
