DATABASE_URL=postgres://{{ windmill_database_user }}:{{ windmill_database_password | urlencode | replace('/', '%2F') }}@{{ windmill_database_host }}:{{ windmill_database_port }}/{{ windmill_database_name }}?sslmode=disable
WM_IMAGE={{ windmill_image }}
WM_EXTRA_IMAGE={{ windmill_extra_image }}
BASE_URL={{ windmill_base_url }}
SUPERADMIN_SECRET={{ windmill_superadmin_secret }}
