#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy accept;
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
    iifname "{{ proxmox_internal_bridge }}" oifname "{{ proxmox_wan_bridge }}" accept
    iifname "{{ proxmox_wan_bridge }}" oifname "{{ proxmox_internal_bridge }}" ct state related,established accept
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }
}

table ip nat {
  chain postrouting {
    type nat hook postrouting priority 100;
    policy accept;
    ip saddr {{ proxmox_internal_network }} oifname "{{ proxmox_wan_bridge }}" masquerade
  }
}
