#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy accept;
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
    ct state related,established accept
    iifname "{{ proxmox_internal_bridge }}" oifname "{{ proxmox_wan_bridge }}" accept
    iifname "tailscale0" oifname "{{ proxmox_internal_bridge }}" ip daddr {{ proxmox_internal_network }} accept
{% if proxmox_public_edge_ipv4 is defined and proxmox_public_ingress_tcp_ports is defined %}
    iifname "{{ proxmox_wan_bridge }}" oifname "{{ proxmox_internal_bridge }}" ip daddr {{ proxmox_public_edge_ipv4 }} tcp dport { {{ proxmox_public_ingress_tcp_ports | join(', ') }} } accept
{% endif %}
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }
}

table ip nat {
  chain prerouting {
    type nat hook prerouting priority -100;
    policy accept;
{% if proxmox_public_edge_ipv4 is defined and proxmox_public_ingress_tcp_ports is defined %}
    iifname "{{ proxmox_wan_bridge }}" tcp dport { {{ proxmox_public_ingress_tcp_ports | join(', ') }} } dnat ip to {{ proxmox_public_edge_ipv4 }}
{% endif %}
  }

  chain postrouting {
    type nat hook postrouting priority 100;
    policy accept;
    ip saddr {{ proxmox_internal_network }} oifname "{{ proxmox_wan_bridge }}" masquerade
  }
}
