[OPTIONS]
enable: 1
policy_in: DROP
policy_out: ACCEPT

{% set policy = network_policy %}
{% set guest_ip_map = dict(proxmox_guests | map(attribute='name') | zip(proxmox_guests | map(attribute='ipv4'))) %}
{% set guest_policy = policy.guests[guest.name] %}
{% macro render_rule(rule) -%}
{% if rule.source == 'public' %}
{% for port in rule.ports %}
IN ACCEPT -p {{ rule.protocol }} -dport {{ port }}
{% endfor %}
{% elif rule.source == 'management' %}
{% for source in policy.guest_management_sources %}
{% for port in rule.ports %}
IN ACCEPT -source {{ source }} -p {{ rule.protocol }} -dport {{ port }}
{% endfor %}
{% endfor %}
{% elif rule.source == 'host' %}
{% for port in rule.ports %}
IN ACCEPT -source {{ policy.host_source }} -p {{ rule.protocol }} -dport {{ port }}
{% endfor %}
{% elif rule.source == 'all_guests' %}
{% for guest_name, guest_ip in guest_ip_map.items() | sort if guest_name != guest.name %}
{% for port in rule.ports %}
IN ACCEPT -source {{ guest_ip }}/32 -p {{ rule.protocol }} -dport {{ port }}
{% endfor %}
{% endfor %}
{% elif rule.source in guest_ip_map %}
{% for port in rule.ports %}
IN ACCEPT -source {{ guest_ip_map[rule.source] }}/32 -p {{ rule.protocol }} -dport {{ port }}
{% endfor %}
{% else %}
{% for port in rule.ports %}
IN ACCEPT -source {{ rule.source }} -p {{ rule.protocol }} -dport {{ port }}
{% endfor %}
{% endif %}
{%- endmacro %}
[RULES]
{% for rule in guest_policy.allowed_inbound %}
{{ render_rule(rule) }}
{% endfor %}
