{% from 'compose_macros.j2' import openbao_sidecar %}
services:
{{ openbao_sidecar("woodpecker") }}

  woodpecker-server:
    image: {{ woodpecker_server_image }}
    container_name: {{ woodpecker_server_container_name }}
    restart: unless-stopped
    depends_on:
      openbao-agent:
        condition: service_healthy
    env_file:
      - {{ woodpecker_env_file }}
    ports:
      - "{{ woodpecker_http_port }}:{{ woodpecker_http_port }}"
    volumes:
      - {{ woodpecker_server_data_dir }}:/var/lib/woodpecker
    networks:
      - default

  woodpecker-agent:
    image: {{ woodpecker_agent_image }}
    container_name: {{ woodpecker_agent_container_name }}
    restart: unless-stopped
    depends_on:
      openbao-agent:
        condition: service_healthy
      woodpecker-server:
        condition: service_started
    env_file:
      - {{ woodpecker_env_file }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ woodpecker_agent_data_dir }}:/etc/woodpecker
    networks:
      - default

networks:
  default:
    name: {{ woodpecker_backend_network }}
