WOODPECKER_LOG_LEVEL=info
WOODPECKER_HOST={{ woodpecker_public_url }}
WOODPECKER_OPEN=true
WOODPECKER_ADMIN={{ woodpecker_admins | join(',') }}
WOODPECKER_REPO_OWNERS={{ woodpecker_repo_owners | join(',') }}
WOODPECKER_DATABASE_DRIVER=postgres
WOODPECKER_DATABASE_DATASOURCE=[[ with secret "kv/data/{{ woodpecker_openbao_secret_path }}" ]][[ .Data.data.WOODPECKER_DATABASE_DATASOURCE ]][[ end ]]
WOODPECKER_GITEA=true
WOODPECKER_GITEA_URL={{ woodpecker_gitea_internal_api_url }}
WOODPECKER_EXPERT_FORGE_OAUTH_HOST={{ woodpecker_gitea_oauth_url }}
WOODPECKER_GITEA_CLIENT={{ woodpecker_gitea_client_id }}
WOODPECKER_GITEA_SECRET=[[ with secret "kv/data/{{ woodpecker_openbao_secret_path }}" ]][[ .Data.data.WOODPECKER_GITEA_SECRET ]][[ end ]]
WOODPECKER_AGENT_SECRET=[[ with secret "kv/data/{{ woodpecker_openbao_secret_path }}" ]][[ .Data.data.WOODPECKER_AGENT_SECRET ]][[ end ]]
WOODPECKER_SERVER_ADDR=:{{ woodpecker_http_port }}
WOODPECKER_GRPC_ADDR=:{{ woodpecker_grpc_port }}
WOODPECKER_SERVER=woodpecker-server:{{ woodpecker_grpc_port }}
WOODPECKER_BACKEND=docker
WOODPECKER_BACKEND_DOCKER_NETWORK={{ woodpecker_backend_network }}
WOODPECKER_MAX_WORKFLOWS={{ woodpecker_max_workflows }}
WOODPECKER_HOSTNAME={{ inventory_hostname }}-woodpecker-agent
WOODPECKER_AGENT_LABELS=lv3=true,repo=*,backend=docker
