DB_HOST={{ netbox_database_host }}
DB_NAME={{ netbox_database_name }}
DB_PASSWORD=[[ with secret "kv/data/{{ netbox_openbao_secret_path }}" ]][[ .Data.data.DB_PASSWORD ]][[ end ]]
DB_PORT={{ netbox_database_port }}
DB_USER={{ netbox_database_user }}
REDIS_HOST=redis
REDIS_PASSWORD=[[ with secret "kv/data/{{ netbox_openbao_secret_path }}" ]][[ .Data.data.REDIS_PASSWORD ]][[ end ]]
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PASSWORD=[[ with secret "kv/data/{{ netbox_openbao_secret_path }}" ]][[ .Data.data.REDIS_CACHE_PASSWORD ]][[ end ]]
SECRET_KEY=[[ with secret "kv/data/{{ netbox_openbao_secret_path }}" ]][[ .Data.data.SECRET_KEY ]][[ end ]]
API_TOKEN_PEPPER_1=[[ with secret "kv/data/{{ netbox_openbao_secret_path }}" ]][[ .Data.data.SECRET_KEY ]][[ end ]]
CHANGELOG_RETENTION={{ netbox_changelog_retention_days }}
SKIP_SUPERUSER=false
SUPERUSER_NAME={{ netbox_superuser_name }}
SUPERUSER_EMAIL={{ netbox_superuser_email }}
SUPERUSER_PASSWORD=[[ with secret "kv/data/{{ netbox_openbao_secret_path }}" ]][[ .Data.data.SUPERUSER_PASSWORD ]][[ end ]]
