http:
  routers:
{% for route in runtime_pool_substrate_routes %}
    {{ runtime_pool_substrate_pool_id }}-{{ route.route_id }}:
      entryPoints:
        - {{ runtime_pool_substrate_entrypoint_name }}
      rule: "PathPrefix(`{{ route.prefix }}`)"
      service: {{ runtime_pool_substrate_pool_id }}-{{ route.route_id }}
      middlewares:
        - {{ runtime_pool_substrate_pool_id }}-strip-{{ route.route_id }}
{% endfor %}

  services:
{% for route in runtime_pool_substrate_routes %}
    {{ runtime_pool_substrate_pool_id }}-{{ route.route_id }}:
      loadBalancer:
        servers:
          - url: "{{ route.upstream }}"
{% endfor %}

  middlewares:
{% for route in runtime_pool_substrate_routes %}
    {{ runtime_pool_substrate_pool_id }}-strip-{{ route.route_id }}:
      stripPrefix:
        prefixes:
          - "{{ route.prefix }}"
{% endfor %}
