apiVersion: 1

datasources:
  - name: {{ monitoring_grafana_tempo_datasource_name }}
    uid: {{ monitoring_grafana_tempo_datasource_uid }}
    type: tempo
    access: proxy
    url: http://127.0.0.1:{{ monitoring_tempo_http_port }}
    isDefault: false
    jsonData:
      nodeGraph:
        enabled: true
