MM_IMAGE={{ mattermost_image }}
MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://{{ mattermost_database_user }}:{{ mattermost_database_password | urlencode | replace('/', '%2F') }}@{{ mattermost_database_host }}:{{ mattermost_database_port }}/{{ mattermost_database_name }}?sslmode=disable&connect_timeout=10
MM_SERVICESETTINGS_SITEURL={{ mattermost_controller_url }}
MM_SERVICESETTINGS_LISTENADDRESS=:{{ mattermost_server_port }}
MM_SERVICESETTINGS_ENABLELOCALMODE=true
MM_SERVICESETTINGS_LOCALMODESOCKETLOCATION={{ mattermost_local_mode_socket }}
MM_SERVICESETTINGS_ENABLESECURITYFIXALERT=false
MM_LOGSETTINGS_CONSOLELEVEL=INFO
MM_TEAMSETTINGS_ENABLEOPENSERVER=false
MM_SUPPORTSETTINGS_SUPPORTEMAIL={{ mattermost_support_email }}
