MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=[[ with secret "kv/data/{{ mattermost_openbao_secret_path }}" ]][[ .Data.data.MM_SQLSETTINGS_DATASOURCE ]][[ end ]]
MM_SERVICESETTINGS_SITEURL={{ mattermost_controller_url }}
MM_SERVICESETTINGS_LISTENADDRESS=:{{ mattermost_server_port }}
MM_ADMIN_PASSWORD=[[ with secret "kv/data/{{ mattermost_openbao_secret_path }}" ]][[ .Data.data.MM_ADMIN_PASSWORD ]][[ end ]]
MM_SERVICESETTINGS_ENABLELOCALMODE=true
MM_SERVICESETTINGS_LOCALMODESOCKETLOCATION={{ mattermost_local_mode_socket }}
MM_SERVICESETTINGS_ENABLESECURITYFIXALERT=false
MM_LOGSETTINGS_CONSOLELEVEL=INFO
MM_TEAMSETTINGS_ENABLEOPENSERVER=false
MM_SUPPORTSETTINGS_SUPPORTEMAIL={{ mattermost_support_email }}
